<h2>Sign up or login to get started</h2>
<style>
    img{
        display:block;
        width:400px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
</style>

<img src="<%= img %>">
<form method="POST" action="/faves">

    <button type='submit'>Favorite</button>
</form>
<img src="<%= i %>">



<form method="POST" action="/faves">

    <button type='submit'>Favorite</button>
</form>
<img src="https://forza-api.tk/img/AUDI_RS6_2009.png">
