<h2>Sign up or login to get started</h2>


<img src="<%= img %>">
<img src="<%= i %>">


<form method="POST" action="/faves">
    
    <button type='submit'>Fave movie</button>
</form>
<img src="https://forza-api.tk/img/AUDI_RS6_2009.png">
