
<h1>Edit your post below</h1>
<!-- <link rel="stylesheet" href="./css/style.css" /> -->
<form method="POST" action="/comments/?_method=PUT">
    <input hidden value="<%= comment.id %>" name="id" />
    <input  type="text" value="<%= comment.comment%>" name="comment" />
    <button type="submit">update</button>
</form>


<style>
    button{
    margin: 10px;
    height: 35px;
    width: 100px;
    font-size: 20px;
    background-color: #6D8B74;
    color: #EFEAD8;
    border: none;
}
input{
    height:31px;
    width:200px;
    border: none;
}
p{
    margin: 10px;
    margin-left:0px;
    color: #6D8B74;
    font-size: 22px;
}
body{
    background-color: #EFEAD8;
}
h1{
    color:#6D8B74;

}
a{
    color: #6D8B74;
    font-size: 25px;
}
ul {
    list-style: none;
}
</style>
