<p>p</p>

<form method="POST" action="/comments/?_method=PUT">
    <input hidden value="<%= comment.id %>" name="id" />
    <input  type="text" value="<%= comment.comment%>" name="comment" />
    <button type="submit">update</button>
</form>
