<h2>User Profile</h2>

<h3>Thanks for being a user, <%= user.email %>! 🎉</h3>
<img src="<%= i %>">
<img src="https://forza-api.tk/img/AUDI_RS6_2009.png">

<form method="POST" action="/favorites">

    <button type='submit'>Fave movie</button>
</form>
